@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Pantalla completa */
    background-color: #f0f2f5;
    margin: 0;
}

.contenedor-login {
    width: 400px;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
img {
    align-items: center;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 1px;

}

h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 12px;
    display: flex;
    justify-content: center;  
    align-items: center;  
    }

    input {
        width: calc(100% - 24px); /* Resta los márgenes para mantener el tamaño correcto */
        padding: 14px;
        margin: 12px; /* Márgenes uniformes en todos los lados */
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 16px;
        box-sizing: border-box; /* Evita que el padding afecte el tamaño */
    }    

button {
    width: calc(100% - 24px);
    padding: 12px;
    background-color: #004AAD; /* Azul del logo */
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #00388D; /* Azul más oscuro al pasar el mouse */
}

p {
    margin-top: 10px;
    font-size: 14px;
}

a {
    color: #004AAD;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
